doctype html
html
    head
      include meta/_head

    body
        .col-1
            p huilo

        div
            h1.header Hui9
        div.inner
            p zzzz
        div.container.inner
